@model IEnumerable<Assignment1.Models.Tweet>


<div class="row">
    <table class="table table-striped table-bordered table-hover">

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.message)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.created)
                </td>
            </tr>
        }
    </table>
</div>